section.facilities
    h2.visually-hidden Основыне возможности сервиса «Allarmo»
    div.main-container
        ul.facilities__list
            li.facilities__item
                div.facilities__title-block
                    span.facilities__version v 0.5
                    h3.facilities__title Основные возможности сервиса
                    img(src="./assets/images/icon-redstar.svg" alt="Иконка пункта «Основные возможности»" width="180" height="184")
                div.facilities__text-block
                    ol.facilities__text-list
                        li.facilities__text-item Мониторинг ошибок на сайте, таких как: ошибки авторизации, регистрации, ошибки выбора доставки и т.п.
                        li.facilities__text-item Уведомление ответственных лиц при отклонении от заданных показателей
                        li.facilities__text-item Мониторинг ключевых показателей, таких как: количество просмотров за день, количество посетителей, количество заказов и т.п.
            li.facilities__item
                div.facilities__title-block
                    span.facilities__version v 0.6
                    h3.facilities__title Скоро...
                    img(src="./assets/images/icon-metalgear.svg" alt="Иконка пункта «Скоро»" width="180" height="184")
                div.facilities__text-block
                    ol.facilities__text-list
                        li.facilities__text-item.facilities__text-item--dark Мгновенные уведомления в Телеграм при выявлении проблемы
                        li.facilities__text-item.facilities__text-item--dark Интеграция с Google Analytics
                        li.facilities__text-item.facilities__text-item--dark Мониторинг внутренних процессов сайта, таких как: успешный обмен с 1С, доступность платежной системы, доступность виджета доставщиков и т.п.
                        li.facilities__text-item.facilities__text-item--dark Виджет для посетителей сайта, позволяющий сообщить о замеченной ошибке или проблеме

