extends ../templates/default

block header
  include ../components/main-header/main-header

block main
  //- include ../components/component/component

  h1.visually-hidden Севрис «Allarmo»
  include ../components/main-promo/main-promo
  include ../components/facilities/facilities
  include ../components/advantages/advantages

block footer
  include ../components/main-footer/main-footer