footer.main-footer
  div.main-container
    div.main-footer__wrapper
      a.main-footer__logo(href="#")
        img(src="./assets/images/logo-footer-desktop.svg" alt="Логотип «Allarmo»" width="141" height="26")
      div
        span.main-footer__copyright Все права защищены © 2020.
        a.main-footer__privacy(href="#") Политика конфиденциальности
        div.main-footer__create
          span Создано в
          a(href="#")
            img(src="./assets/images/logo-5corners-desktop.svg" alt="Логотип «5углов»" width="35" height="35")
            span 5 углов
